*{
    padding: 0;
    margin: 0;
box-sizing: border-box;}

    body{
        font-family:  monospace;

        background: black;
        color: #00ff00;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    
    ::selection{
        background: white;
        color: black;
    }
.codeline{
    color: #00ff00;
    font-size: 1.1em;
    // background: red;
    text-shadow: 0 0 3px #2dec56;
    // &::before{
    //     content: '>>';
    // }
    white-space: pre;


}
.activeLine{
    &::after{
        content: '█';
        animation: Blink_Cursor .8s ease 0s infinite;
    }
}
#Code{
    z-index: -10;
    position: absolute;
    // background: red;
    overflow: hidden;
    
}
@keyframes Blink_Cursor {
    0%,100%{
        opacity: 0%;
    }
    50%{
        opacity: 100%;
    }
    
}

 
#LogoCenterizer{
    
    // position: absolute;
    top: 0%;
width: 100vw;
opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    // background: red;
    // pointer-events: none;
    animation: LogoFadeIn 10s ease 2s 1 forwards;

}
#Logo{
    // background: red;
    font-size: max(1.9vw,3vh);
    z-index: 100;
    // left: 50%;
    // translate: -50% -50%;
}
@keyframes LogoFadeIn {
    0%{
        scale: 1.2;
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}
.Button{
   font-size: min(.8vh,.8vw);
    box-sizing: border-box;
    // background: red;
    border: 1px solid #00ff00;
    padding: 2em;
    transition: .3s;
    text-shadow: 0 0 0px #000000;
    cursor: pointer;
    &:hover{
        // border-radius: 3px;
        // padding: .5em;
        text-shadow: 0 0 10px #59f37a;
        
    }
}